.Container{

    padding: 25px;

    .Text h1{
        color: #fff;
        font-family: 'Inter', sans-serif;
        font-size: 46px;

        display: block;
        margin: auto 25px;
        width: 500px;



    }

    .Cop-Img{
        img{
            width: 400px;
            height: 400px;
        }
    }
}